* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background: rgb(255,238,238);
    background: linear-gradient(120deg, rgba(255,238,238,1) 20%, rgba(249,246,238,1) 100%);
    padding-top: 100px;
}

header h1 {margin-bottom: 30px; font-size: 30px; font-weight: bold;}

.container {
    max-width: 720px; width: 100%; margin: 0 auto;
    align-items: center;
}

form, header h1 {text-align: center;}

form button {
    background-color: rgb(80, 255, 168); color: #202020;
    font-size: 18px; font-weight: bold; border: none;
    cursor: pointer; padding: 8px; border-radius: 3px;
}

form button:hover {background-color:rgb(0, 255, 68); transition: 0.3s;}

form input {
    font-size: 18px; background-color: #fff;
    border: none; border-bottom: 2px solid #202020;
    padding: 8px; border-radius: 3px; margin-bottom: 20px;
}
form input:hover {border-bottom: 2px solid rgb(0, 179, 48); transition: 0.3s;}

table {width: 100%;}
table th {
    border-bottom: 1px solid #202020; padding: 10px;
    font-size: 18px; font-weight: bold;
}
table td {
    padding: 10px; font-size: 18px; text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.nome-contato-salvo {font-weight: bold;}